  <nav class="navbar navbar-inverse navbar-expand-sm" id="navb">
    <div class="container-fluid" style="padding-left:30px;">
      <div class="navbar-header">
        <a class="navbar-brand" id="nb" routerLink="/main"><img id="brand" src="http://www.boat-lifestyle.com/images/logo.png" ></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right" style="font-family: 'Lato', sans-serif;">
        <li><a routerLink="/products" routerLinkActive="active">AUDIO PRODUCTS</a></li>
        <li><a routerLink="/support" routerLinkActive="active">SUPPORT</a></li>
      </ul>
    </div>
    </div>
    <script>
        window.onscroll = function() {scrollFunction()};
      
      function scrollFunction() {
        if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
          document.getElementById("navb").style.padding = "10px 5px";
          document.getElementById("navb").style.fontSize = "15px";
          document.getElementById("brand").style.height = "63px";
          document.getElementById("brand").style.width = "80px";
          document.getElementById("brand").style.marginTop="0px";
          
          
        } else {
          document.getElementById("navb").style.padding = "30px 5px";
          document.getElementById("navb").style.fontSize = "18px";
          document.getElementById("brand").style.height = "100px";
          document.getElementById("brand").style.width = "126px";
          document.getElementById("brand").style.marginTop="-25px";
          
          
          
        }
      }
      </script>





</nav>
