<div class="item imgtext active">
    <img  src="../../assets/pexels-photo-1624895.jpeg" style="width:100%;">
    <div class="centered" style="font-family: 'Permanent Marker', cursive;" >
        <h2>bOAt Support</h2>
        <p style="font-family: 'Roboto' ;">We always make sure that you keep listening to your favourite jam and never miss your music</p>
    </div>
</div>

<div class="container">
  <div class="row" style="padding:80px;">
    <div class="col-md-6" style="text-align:justify;">
      <img src="https://image.flaticon.com/icons/svg/685/685822.svg" width="200px" height="200px;">
    </div>
    <div class="col-md-6" style="text-align:justify;">
      <h3>Find us at:</h3><br>
      <p style="font-size:18px;font-family: 'Lato', sans-serif;"><strong>Sardar Patel Institute of Technology</strong><br>Bharatiya Vidya Bhavans Sardar Patel Institute of Technology Munshi Nagar,<br> Andheri (West), Mumbai 400 058
        <br>
        (91)-(022)-26707440, 26287250</p>
    </div>
  </div>

</div>